<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="https://cdn.discordapp.com/attachments/788088403089817610/899394452085411855/iu.png">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Stream|Lined</title>
</head>
<body>
    <div id="container">
    <logo><h2><a href='/'><div><st>Stream</st> | <l>Lined</l></div></a></h2></logo>
<nav class='table'>
    <ul>
        <li onclick="window.location.href='/streams/new'">
            <a style="font-size: larger;"  href='/streams/new' >Add new stream</a>
        </li>
        <li onclick="window.location.href='/videos/new'">
            <a style="font-size: larger;"  href='/videos/new' >Add new video</a>
        </li>
    </ul>
</nav>
