<%- include('./partials/header.ejs')%>
    <div class = "contentHome">
        <a id="BigButton" href="/videos"><img src="https://cdn.discordapp.com/attachments/788088403089817610/899095858522501221/unknown.png"></img></a>
        <br><br><br><br><br>
        <a id="BigButton" href="/streams"><img src="https://cdn.discordapp.com/attachments/788088403089817610/899083124875624508/unknown.png"></img></a>
        <br><br><br><br><br>
        <a id="BigButton" href="/streams/multiviewer"><img src="https://cdn.discordapp.com/attachments/788088403089817610/899095700682448896/unknown.png"></img></a>
        <br><br><br><br>
        <a id="BigButton" href="/streams/recommended"><h2>☆ Currently Popular Streamers ☆</h2></a>
    </div>
    <%- include('./partials/footer.ejs')%>