<%- include('../partials/header.ejs')%>
    <br><h3>Edit video title here</h3><br>
<div class = "content">
    <br>
    <form method = "POST" action = "/videos/<%= video._id%>?_method=PUT">
        <table>
            <col style="width:70%">
	        <col style="width:0%">
            <tr>
                <td><label class="addLabel" for="title">Display Name</label></td>
                <td><input class="addText" type="text" id="title" name="title" class = "fixed-width" value="<%= video.title%>" required></td>
            </tr>
            <tr>
                <td colspan="2" class = "align-right"><button id="addButton"><b>Finish Edit</b></button></td>
            </tr>
        </table>         
    </form>

    </div>
    <%- include('../partials/footer.ejs')%>